<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
</head>

<body>

	<div id="app-nav" v-html="htmlcontent"></div>

	<div id="app" class="container-fluid">

		<div class="row header_md">
			<div class="col-md-4">
				<button type="button" @click="criar"
					class="btn btn-primary btn_novo">&#10010; NOVO PRODUTO</button>
			</div>

			<div class="col-md-8">
				<div class="form-group input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-search"></i></span> <input name="consulta"
						v-on:keyup="buscarEmTabela" id="txt_consulta"
						placeholder="Pesquise aqui..." type="text" class="form-control">
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal_new" tabindex="-1" role="dialog"
			aria-labelledby="modal_new_label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_new_label">Produto: {{
							Produto_form.nome }}</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" v-on:submit.prevent
							autocomplete="off">
							<fieldset>

								<!-- Form Name -->
								<legend></legend>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-12 control-label" for="inputName">Nome:</label>
									<div class="col-md-12">
										<input v-model="Produto_form.nome" id="inputName"
											name="textinput" type="text" placeholder="nome"
											class="form-control input-md">

									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-12 control-label" for="inputEstoque">Em
										estoque</label>
									<div class="col-md-12">
										<input v-model="Produto_form.estoque" id="inputEstoque"
											name="textinput" type="number" placeholder="quantidade"
											class="form-control input-md">

									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-12 control-label" for="inputUnidade">Unidades</label>
									<div class="col-md-12">
										<input v-model="Produto_form.unidade" id="inputUnidade"
											name="textinput" type="text" placeholder="quantidade"
											class="form-control input-md">

									</div>
								</div>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-12 control-label" for="selectFab">Fabricante</label>
									<div class="col-md-12">
										<select v-model="Produto_form.fabricante.id" id="selectFab"
											name="selectbasic" class="form-control">
											<option v-for="fabricante in listaFabricantes"
												v-bind:value="fabricante.id">{{ fabricante.nome }}</option>
										</select>
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-12 control-label" for="inputVolume">Volume</label>
									<div class="col-md-12">
										<input v-model="Produto_form.volume" id="inputVolume"
											name="textinput" type="double" placeholder="volume"
											class="form-control input-md">

									</div>
								</div>


								<p v-if="errors.length" class="text-danger">
									<b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
								<ul>
									<li v-for="error in errors">{{ error }}</li>
								</ul>
								</p>


								<!-- Button -->
								<div class="form-group">
									<label class="col-md-12 control-label" for="singlebutton"></label>
									<div class="col-md-12"></div>
								</div>

							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button @click="altera" id="updatebtn" name="updatebtn"
							class="btn btn-success">ATUALIZAR</button>
						<button @click="salvar" id="savebtn" name="savebtn"
							class="btn btn-success">SALVAR</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="widget stacked widget-table action-table">

				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Lista de Produtos</h3>
				</div>
				<div id="result_list" class="widget-content">
					<table class="table table-striped table-bordered">
						<thead>
						<tr class="d-flex">
							<th class="col-1">ID</th>
							<th class="col-3">Nome</th>
							<th class="col-2">Fabricante</th>
							<th class="col-1">Volume</th>
							<th class="col-2">Unidade</th>
							<th class="col-1">Estoque</th>
							<th class="col-2">Ações</th>
							</tr>
						</thead>
						<tbody id="event-table">
							<tr class="d-flex" v-for="produto in listaProdutos">
								<td class="col-1">{{ produto.id }}</td>
								<td class="col-3">{{ produto.nome }}</td>
								<td class="col-2">{{ produto.fabricante.nome }}</td>
								<td class="col-1">{{ produto.volume }}</td>
								<td class="col-2">{{ produto.unidade }}</td>
								<td class="col-1">{{ produto.estoque }}</td>
								<td class="td-actions col-2"><span @click="edita(produto)"
									class="btn btn-sm btn-primary">&#9998;</span> <span
									@click="remove(produto.id)" class="btn btn-sm btn-danger">&#10006;
								</span></td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="../resources/js/jquery.min.js"></script>
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/bootstrap-vue.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/template.js"></script>
	<script src="../resources/js/pages/novo-produto.js"></script>
</body>
</html>