<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../resources/css/main.css">
</head>

<body>

	<div id="app-nav" v-html="htmlcontent"></div>

	<div id="app" class="container-fluid">

		<div class="row header_md">
			<div class="col-md-4">
				<button type="button" @click="criar"
					class="btn btn-primary btn_novo">&#10010; NOVO FABRICANTE</button>
			</div>

			<div class="col-md-8">
				<div class="form-group input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-search"></i></span> <input name="consulta"
						v-on:keyup="buscarEmTabela" id="txt_consulta"
						placeholder="Pesquise aqui..." type="text" class="form-control">
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal_new" tabindex="-1" role="dialog"
			aria-labelledby="modal_new_label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal_new_label">Fabricante: {{ 
						Fabricante_form.nome }}</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" v-on:submit.prevent 
						autocomplete="off">
							<fieldset>

								<!-- Form Name -->
								<legend></legend>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-12 control-label" for="textinput">Nome:</label>
									<div class="col-md-12">
										<input id="textinput" name="textinput" type="text"
											placeholder="nome" class="form-control input-md"
											v-model="Fabricante_form.nome">

									</div>
								</div>
							</fieldset>
						</form>

					</div>
					<div class="modal-footer">
						<button @click="altera" id="updatebtn" name="updatebtn"
							class="btn btn-success">ATUALIZAR</button>
						<button @click="salvar" id="savebtn" name="savebtn"
							class="btn btn-success">SALVAR</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="widget stacked widget-table action-table">

				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Lista de Fabricantes</h3>
				</div>
				<div id="result_list" class="widget-content">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="d-flex">
								<th class="col-1">ID</th>
								<th class="col-9">Fabricante</th>
								<th class="td-actions col-2">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr class="d-flex" v-for="fabricante in listaFabricantes">
								<td class="col-1">{{ fabricante.id }}</td>
								<td class="col-9">{{ fabricante.nome }}</td>
								<td class="td-actions col-2"><span
									@click="edita(fabricante)" class="btn btn-sm btn-primary">&#9998</span>
									<span @click="remove(fabricante.id)"
									class="btn btn-sm btn-danger">&#10006 </span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="../resources/js/jquery.min.js"></script>
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/bootstrap-vue.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/template.js"></script>
	<script src="../resources/js/pages/novo-fabricante.js"></script>
</body>
</html>