#app{
	padding-top: 10px;
}

.header_md{
	padding: 10px;
}

#box-login{
	margin: 100px auto;
}

/* NAVBAR */

.navbar ul li{
	border: 2px solid;
    border-radius: 4px;
    margin-left: 10px;
}

/* END NAVBAR */
